.container 
  div(class="main")
    .row.text-center.padding-20-0
      div(class="col-md-12")
        div(class="headof")
          div(class="for")
            h1 Контакты
            p По всем возникающим вопросам писать на почту: 
              b
                a(href='mailto:socialdevteam@yandex.ru?Subject=Активация%20лицензии') socialdevteam@yandex.ru
              |  или Skype: 
              b
                | 12c61c781515bbf0

            //- А также в Telegram. Skype
           

section.download
  .container
    .row.text-center.col-sm-6.col-sm-offset-3
      .jumbotron
        p Купить лицензию за 
          span 5000 
            i.fa.fa-rub 
        p
          a.btn.btn-success.btn-lg(href="/releases")
            | Купить


.container
  .footer
    .row
      //- .col-md-4
      //-   .pull-left
      //-     p
      //-       | PinMaker PRO
      //-       i.fa.fa-fw.fa-copyright
      //-       | 2017
      //- .col-md-4
      .text-center
        a(href='/instafilter-license.txt' target='_blank') Лицензионное соглашение
