.container
  div(class="main")
    .row.text-center.padding-20-0
      div(class="col-md-12")
        div(class="headof")
          div(class="for")
            h1 Что умеет?
            p
              strong 1. Регистрация аккаунтов
            p Это функция, благодаря которой Вы сможете регистрировать новые аккаунты. Наша программа создает качественные аккаунты полностью эмулируя несколько видов мобильных устройств, тем самым снижая вероятность санкций со стороны Pinterest.   .

            p
              strong 2. Создание досок (boards) 
            p Эта функция позволяет Вам создавать новые доски в автоматическом режиме. Вы можете указать список с названиями досок и программа автоматически создаст доску с одним из названий для каждого выделенного аккаунта.

            p
              strong 3. Создание репинов 
            p Это функция, благодаря которой Ваши репины заметят живые люди. Программа позволяет использовать вашу базу с зарегистрированными пользователями и начинает репинить указанные вами пины, что повышает вероятность отображения ваших пинов в ленте пользователей Pinterest.

            p
              strong 4. Менеджер аккаунтов
            p Это функция, благодаря которой Вы сможете продвигать Ваши услуги сразу с нескольких аккаунтов. Сможете добавлять новых зарегистрированных пользователей, проверять аккаунты на активность и добавлять задания для аккаунтов.

            p
              strong 5. Менеджер заданий
            p Это функция, благодаря которой Вы сможете создавать, редактировать, останавливать и запускать сразу несколько заданий. 

            //- p Варианты сбора пользователей:

            //- p 
            //-   i.fa.fa-check 
            //-   |  Сбор подписчиков/подписок Ваших конкурентов.
            //- p 
            //-   i.fa.fa-check 
            //-   |  Сбор по гео-локации.
            //- p 
            //-   i.fa.fa-check 
            //-   |  Сбор по хеш-тегам.
            //- p 
            //-   i.fa.fa-check 
            //-   |  Сбор активной и живой аудитории (то есть собираются люди, которые лайкнули или оставили комментарий под постами аккаунта конкурента, очень эффективно!)
            //- p 
            //-   i.fa.fa-check 
            //-   |  Анализ аудитории по хеш - тегам и гео точкам.
            //- p 
            //-   i.fa.fa-check 
            //-   |  Фильтрация аудитории (на количество подписчиков, подписок, аватарку, количество дней последней записи, ПОЛ.
            //- p 
            //-   i.fa.fa-check 
            //-   |  Самое интересное - это возможность сбора по многим критериям, включающие такие, как количество подписчиков, количество подписок, последняя публикация фотографии и количество публикаций. Это и позволяет выбрать только самых активных пользователей.

            //- p
            //-   strong 6. Комментирование

            //- p Эта функция позволяет Вам проявлять еще больше активности среди общества в Instagram. Вы можете в автоматическом режиме благодарить пользователей за фото в комментариях или же выражать свое восхищение фото. Это позволяет привлечь внимание к Вашему аккаунту. А вместе с функциями подписки и лайкинга повысить ответные подписки и увеличить активность в комментариях на Вашем аккаунте.


section.download
  .container
    .row.text-center.col-sm-6.col-sm-offset-3
      .jumbotron
        p Купить лицензию за 
          span 2899 
            i.fa.fa-rub 
        p
          a.btn.btn-success.btn-lg(href="/releases")
            | Купить
            
.container
  .footer
    .row
      //- .col-md-4
      //-   .pull-left
      //-     p
      //-       | PinMaker PRO
      //-       i.fa.fa-fw.fa-copyright
      //-       | 2017
      //- .col-md-4
      .text-center
        a(href='/instafilter-license.txt' target='_blank') Лицензионное соглашение
