// .row {
//     margin-left: 0px !important;
//     margin-right:  0px !important;
// }

.download .btn {
    margin-top: 45px; // 60px
    // padding-top: 25px;
    // border-top: 3px solid #fcfcfc; // black as background
}

.download .jumbotron p {
    margin-bottom: 15px;
    font-size: 41px;
    font-weight: 200;
}


.download .jumbotron span {
    margin-bottom: 15px;
    font-size: 41px;
    font-weight: 400;
}


.butt a {
  width: 170px;
  display: block;
  margin-top: 40px !important;
  margin-bottom: 60px !important;
}

 
.howWorks {
  font-family: 'Open Sans', sans-serif;
  padding: 60px 0 70px;
  background-color: #303030;
  
}

.howWorks i {
  margin: 60px -65px 0;
  // margin-bottom: 60px !important;
}

.howWorks h3, p {
  font-weight: 300;
  font-family: 'Open Sans', sans-serif;
}

.howWorks h3 {
  font-size: 17px;
  font-weight: 400;
}

.howWorks p {
  font-size: 14px;
}

.howWorks .foot-text1 p {
  font-weight: 400;
  margin-top: 45px;
  font-size: 19px;
}

.howWorks .foot-text1 a {
  text-decoration: underline;
}


.canDo {
  font-family: 'Open Sans', sans-serif;
  padding: 60px 0 70px;
  
}

.canDo .col-md-4 {
  margin-top: 60px;
  margin-bottom: 60px;
}


// .canDo .col-md-4:nth-child(1), .canDo .col-md-4:nth-child(3) {
//   border-top: 2px solid #F8D436;
//   border-top-width: 2px;
//   border-top-style: solid;
//   border-top-color: white;
// }




.canDo i {
  margin: 60px -65px 0;
  margin-bottom: 60px !important;
}

.canDo h3, p {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 19px;
}

.canDo .foot-text1 p {
  font-weight: 400;
  margin-top: 45px;
  font-size: 19px;
}


.promoContent {
    padding: 55px 0;
    box-shadow: 0 -1px 6px white;
}


.generationContent {
    padding: 60px 0 65px;

}

.processContent {
  font-family: 'Open Sans', sans-serif;
  padding: 60px 0 70px;
  background-color: #303030;
}




.processContent .topic {
    font-size: 28px;
    margin-bottom: 25px;
    font-weight: 300;
}

.processContent i {
  
  margin: 60px -65px 0;
  margin-bottom: 60px !important;
}

.processContent p {
    font-size: 15px;
    line-height: 18px;
    font-weight: 300;
}

 

.generationContent ul {
  -webkit-padding-start: 0px !important;
  margin: 70px 0 60px;
  text-align: left;
  list-style: none;
}

.generationContent li {
  display: inline-block;
  margin-left: 70px;
  margin-bottom: 10px;
  font-size: 24px;
}

.generationContent li p {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 24px;
}

.generationContent li span {
  display: inline-block;
  width: 55px;
  margin-right: 30px;
  border-radius: 50%;
  line-height: 55px;
  font-size: 32px;
  font-weight: 400;
  color: rgb(34,34,34);
  background-color: white;
  text-align: center;
}

h1, h2, a {
  font-family: 'Open Sans', sans-serif;
}

.footer a {
  text-decoration: underline;
  font-weight: 300;
}

// .footer .row {
//    margin-left: 0px  !important;
// }

.navbar-default {
  background-color: white;
}

.navbar-btn {
  margin-top: 12px !important;
}

.h2, h2 {
  font-size: 42px;
  font-weight: 300;
}

.features h3 {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  font-weight: 300;
  margin-top: 25px;
}

.main {
  padding-bottom: 50px;
}


.for {
  display: block;
}

.for p {
  font-family: 'Open Sans', sans-serif;
}

.navbar-nav {
    > li > a {
      
      font-weight: 400;
      padding-top: 24px;
      font-size: 18px;
      line-height: 25px; 

      &:hover,
      &:focus {
        color: #ccc;
        // background-color: $navbar-default-link-hover-bg;
      }
    }
    > .active > a {



    }
   
  }

 
.navbar-brand {
  float: left;
  padding: 19px 15px;
  height: 70px;
}


.headof p {
  text-align: left;
  margin-bottom: 25px;  
  line-height: 26px; 
  font-size: 22px;
  font-weight: 300;
  margin-top: 25px;
  
}

.payment {
  font-size: 20px;
  font-weight: 300;
}

.version {
  font-size: 20px;
}


///////////////////////////////////////////
///////////////////////////////////////////
///////////////////////////////////////////

.text-gray {
  color: $gray-light;
}

.text-capitalize {
  text-transform: capitalize;
}

.text-color-lock {
  color: darken(desaturate($brand-primary, 50), 10);
}

.pointer {
  cursor: pointer;
}

.release-notes {
  white-space: pre;
  font-size: 13px !important;
}

.timestamp {
  font-size: 13px !important;
}

// Input label position
.form-horizontal .control-label {
  padding-top: 0;
}

.padding-20-0 {
  padding: 20px 0;
}

.padding-top-20 {
  padding-top: 20px;
}

// Input status colours
.form-control,
input,
textarea {
  border-style: solid;
}

.has-success {
  .form-control,
  .form-control:focus {
    border-color: $brand-success;
    color: $brand-success;
  }
}

.is-warning {
  color: $brand-warning;
}

.has-warning {
  .form-control,
  .form-control:focus {
    border-color: $brand-warning;
    color: $brand-warning;
  }
}

.has-error {
  .form-control,
  .form-control:focus {
    border-color: $brand-danger;
    color: $brand-danger;
  }
}
// Fix radio & checkbox input positioning
.radio input[type="radio"],
.radio-inline input[type="radio"],
.checkbox input[type="checkbox"],
.checkbox-inline input[type="checkbox"] {
  margin-left: 0;
}
// Navbar Logo
.navbar-logo {
  padding: 10px 15px;
  height: 70px
}

.browsehappy {
  background: #ccc;
  color: #000;
  margin: 0.2em 0;
  padding: 0.2em 0;
}
// Custom page footer
.footer {
  // border-top: 1px solid #333;
  color: #777;
  margin: 30px 0;
  padding-top: 10px;
}


// Panel header button
.modal-header-button {
  margin-right: -16px;
  margin-top: -9px;
}
// Modal footnote
.modal-footer-note {
  float: left;
  font-style: italic;
  height: 45px;
  line-height: 45px;
  text-align: left;

  .progress {
    height: 45px;

    .progress-bar {
      font-size: 14px;
      line-height: 45px;
    }
  }
}
// Editable table
.table-custom {
  td {
    vertical-align: middle !important;
    text-align: center;
  }
}

.editable-wrap {
  display: inline-block;
  margin: 0;
  white-space: nowrap;
  width: 100%;

  .editable-controls,
  .editable-error {
    margin-bottom: 4px;
  }

  .editable-controls {
    &>input,
    &>select,
    &>textarea {
      margin-bottom: 0;
    }
  }

  .editable-input {
    display: inline-block;
  }
}

.editable-buttons {
  display: inline-block;
  vertical-align: top;

  button {
    margin-left: 5px;
  }
}

.editable-input.editable-has-buttons {
  width: auto;
}

.editable-bstime {
  .editable-input input[type=text] {
    width: 46px;
  }

  .well-small {
    margin-bottom: 0;
    padding: 10px;
  }
}

.editable-range output {
  display: inline-block;
  min-width: 30px;
  text-align: center;
  vertical-align: top;
}

.editable-color input[type=color] {
  width: 50px;
}

.editable-checkbox label span,
.editable-checklist label span,
.editable-radiolist label span {
  margin-left: 7px;
  margin-right: 10px;
}

.editable-hide {
  display: none !important;
}

.editable-click,
a.editable-click {
  border-bottom: dashed 1px $brand-info;
  color: $brand-info;
  text-decoration: none;
}

.editable-click:hover,
a.editable-click:hover {
  border-bottom-color: darken($brand-info, 15);
  color: darken($brand-info, 15);
  text-decoration: none;
}

.editable-empty,
.editable-empty:hover,
.editable-empty:focus,
a.editable-empty,
a.editable-empty:hover,
a.editable-empty:focus,
.empty-cell {
  color: $brand-danger;
  font-style: italic;
  text-decoration: none;
}

input[type="number"].ng-valid {
  border-color: green;
  color: green;
}

input[type="number"].ng-invalid {
  border-color: red;
  color: red;
}
