
.container
  .row.text-center.padding-20-0
    div(class="col-md-7 col-md-push-5") 
      div(class="embed-responsive embed-responsive-4by3")
        iframe(class="embed-responsive-item" src="https://www.youtube.com/embed/ZoZCLzI32HI" frameborder="0" allowfullscreen)


    div(class="col-md-5 col-md-pull-7") 
      div(class="headof")
        div(class="for")
          h1 InstaFilter PRO
          p Программа для профессионального продвижения в Instagram
          p Сервис для автоматизации работы, привлечения клиентов, арбитража трафика
          p Mac OS & Windows
            | 
            i.fa.fa-apple.fa-fw.fa-lg
            i.fa.fa-windows.fa-fw.fa-lg
        div(class="butt")
          a.btn.btn-warning.btn-lg(href="/features")
            | Подробнее

section.howWorks
  .container
    .row.text-center
      .col-md-12
        h2 Как это работает?
    .row.text-center
      .col-md-4
        i.fa.fa-4x.fa-download
        h3 Скачиваете, оплачиваете программу
        p Программа InstaFilter PRO платная, ее стоимость – 2899 руб., оплата единоразовая, обновления бесплатные. Для активации программы, связываетесь с нами по E-mail: socialdevteam@yandex.ru
      .col-md-4
        i.fa.fa-4x.fa-search
        h3 Поиск вашей Целевой Аудитории
        p Собираете свою целевую аудиторию по различным критериям: Ваши конкуренты, интересы людей, геолокация и многое другое.
      .col-md-4
        i.fa.fa-4x.fa-line-chart
        h3 Привлечение клиентов и работа с аудиторией
        p Настраиваете способы взаимодействия с потенциальными клиентами: подписки, лайки, комментарии или все это вместе.
      //- img(src="./images/CybSzRB5TV.gif" style="display:block;width:40%;"  class="img-fluid" alt="Responsive image")
    .row.text-center
      .foot-text1
        p Если у вас все еще остались вопросы, напишите нам: 
          b 
            |
            a(href='mailto:socialdevteam@yandex.ru?Subject=Активация%20лицензии') socialdevteam@yandex.ru 

section.canDo
  .container
    .row.text-center.col-md-12
        h2 InstaFilter PRO умеет:
    .row.text-center
      .col-md-4
        h3 Парсинг по гео, фильтрация без участия аккаунтов
      .col-md-4
        h3 Вести неограниченное количество аккаунтов
      .col-md-4
        h3 Регистрировать аккаунты с полной эмуляцией нескольких видов мобильных устройств
      //- img(src="./images/CybSzRB5TV.gif" style="display:block;width:40%;"  class="img-fluid" alt="Responsive image")

    .row.text-center
      .col-md-12
        a.btn.btn-warning.btn-lg(href="/features")
          | Подробнее
      //- a.btn.btn-warning.btn-lg(
    //-         ng-click="softDetailShow()"
    //-         )
      //- | Подробнее
    .row.text-center
      .foot-text1
        p 
          | Откройте 
          a(href='/InstaFilterPROv1.pdf' target='_blank') файл с описанием всех возможностей
          |  и ознакомьтесь с ПОЛНЫМ ФУНКЦИОНАЛОМ ПРОГРАММЫ 

section.download
  .container
    .row.text-center.col-sm-6.col-sm-offset-3
      .jumbotron
        p Купить лицензию за 
          span 2899 
            i.fa.fa-rub 
        p
          a.btn.btn-success.btn-lg(href="/releases")
            | Купить


.container
  .footer
    .row
      .text-center
        a(href='/instafilter-license.txt' target='_blank') Лицензионное соглашение


